<div class="col-4 m-auto">
  <%= form_with(model: @user, url: sessions_create_path) do |form| %>
    <%= render partial: "shared/errors_valid", locals: { object: @user } %>
    <div class="form-group">
      <label for="name"><%= form.label t "users.new.name" %></label>
      <input type="text" name="name" id="name" class="form-control" placeholder="<%= t "form.placeholder.name" %>">
    </div>
    <div class="form-group">
      <label for="password">  <%= form.label t "users.new.password" %></label>
      <input type="password" id="password" name="password" class="form-control" placeholder="<%= t "form.placeholder.password" %>">
    </div>
    <div class="btn-group mt-2 d-flex align-items-center" role="group" aria-label="Basic checkbox toggle button group">
      <input type="checkbox" class="form-check-input me-2 remember_me" name="remember_me" id="btncheck1" autocomplete="off">
      <label for="btncheck1"><%= t "button.remember" %></label>
    </div>
    <button type="submit" class="btn btn-primary mt-3 float-right d-flex float-end">
      <%= t "button.login" %></button>
  <% end %>
</div>
