<div class="col-4 m-auto">
  <%= form_with(model: @user, url: sessions_create_path) do |form| %>
    <%= render partial: "shared/errors_valid", locals: { object: @user } %>
    <div class="form-group">
      <label for="name"><%= form.label t "users.new.name" %></label>
      <input type="text" name="name" id="name" class="form-control" placeholder="<%= t "form.placeholder.name" %>">
    </div>
    <div class="form-group">
      <label for="password">  <%= form.label t "users.new.password" %></label>
      <input type="password" id="password" name="password" class="form-control" placeholder="<%= t "form.placeholder.password" %>">
    </div>
    <button type="submit" class="btn btn-primary mt-3 float-right d-flex justify-content-start">
      <%= t "button.login" %></button>
  <% end %>
</div>
