<%= form_with(model: @user, url: create_user_path) do |form| %>
	<!-- Các trường form -->
	<%= form.label :name %>
	<%= form.text_field :name %>
	
	<%= form.label :birthday %>
	<%= form.date_field :birthday %>
	<%= form.label :password %>
	<%= form.text_field :password %>
	
	<!-- Nút submit -->
	<%= form.submit t("button.create", name: t("button.label_name")) %>
<% end %>
<% if flash[:success] %>
	<p class="text-success">
		<%= flash[:success] %>
	</p>
<% end %>

<% if flash[:errors] %>
	<div class="errors">
		<% flash[:errors].each do |message| %>
			<p class="text-danger">
				<%= message %>
			</p>
		<% end %>
	</div>
<% end %>
