<div class="row">
  <div class="col-8  w-25">
    <%= render "shared/profile" %>
  </div>
  <div class="col-8">
    <% if @microposts.any? %>
      <h3><%= t "micropost.title_page" %> (<%= @microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%== pagy_bootstrap_nav(@page).html_safe %>
    <% end %>
  </div>
</div>
