<div class="row">
  <div class="col-5">
    <%= render "user_info" %>
    <%= render "users/follow_form" %>
  </div>
  <div class="col-7">
    <h3><%= t "micropost.title_page" %> (<%= t("count", count: @microposts.count) %>)</h3>
    <ol class="microposts">
      <%= render(@microposts) || t("micropost_empty_list") %>
    </ol>
    <%== pagy_bootstrap_nav(@pagy).html_safe %>
  </div>
</div>
